<form id="edit-med-hist-form" action="{% url 'save_med_hist' %}" method="post">
    {% csrf_token %}
    <!-- Vaccine History -->
    <div class="mb-4">
        <label for="vaccination_history" class="block font-semibold">Vaccination History:</label>
        <input type="text" name="vaccination_history" id="vaccination_history" class="border border-gray-300 rounded-md px-3 py-2 w-full" value="{{ request.profile.vaccination_history }}">
    </div>

    <!-- Previous Medications -->
    <div class="mb-4">
        <label for="previous_medications" class="block font-semibold">Previous Medications:</label>
        <input type="text" name="vaccination_history" id="previous_medications" class="border border-gray-300 rounded-md px-3 py-2 w-full" value="{{ request.profile.previous_medications }}">
    </div>

    <!-- Procedures -->
    <div class="mb-4">
        <label for="procedures" class="block font-semibold">Procedures:</label>
        <input type="text" name="procedures" id="procedures" class="border border-gray-300 rounded-md px-3 py-2 w-full" value="{{ request.profile.procedures }}">
    </div>

    <!-- Hospitalizations -->
    <div class="mb-4">
        <label for="vaccination_history" class="block font-semibold">Hospitalizations:</label>
        <input type="text" name="hospitalizations" id="hospitalizations" class="border border-gray-300 rounded-md px-3 py-2 w-full" value="{{ request.profile.hospitalizations }}">
    </div>

    <!-- Current Symptoms -->
    <div class="mb-4">
        <label for="current_symptoms" class="block font-semibold">Current Symptoms:</label>
        <input type="text" name="current_symptoms" id="current_symptoms" class="border border-gray-300 rounded-md px-3 py-2 w-full" value="{{ request.profile.current_symptoms }}">
    </div>

    <button type="submit" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600">Save Changes</button>
</form>

<script>
    document.getElementById('edit-med-hist-form').addEventListener('submit', function(event){
        event.preventDefault();

        const formData = new formData(this);

        fetch('/users/save_med_hist/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: formData
        })
        .then(response => {
            if (responce.ok){
                console.log('Changes saved successfully');
            } else {
                throw new Error('Failed to update user info.')
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Failed to update user info. Please try again.')
        });
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== ''){
            const cookies =document.cookie.split(';');
            for (let i =0; i < cookies.length; i++){
                const cookie = cookies[i].trim();
                if (cookie.startsWith(name + '=')){
                    cookieValue = decodeURIComponent(cookie.substring(name.length +1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>