<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login</title>
</head>
<body class="bg-gray-100">
    <div class="flex items-center justify-center h-screen">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
            <h2 class="text-3xl font-bold mb-4">Login</h2>
            {% if messages %}
                {% for message in messages %}
                    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <form method="post" action="{% url 'users:login' %}?next={{ next_url }}">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="id_username" class="block text-sm font-medium text-gray-700">Username:</label>
                    <input type="text" id="id_username" name="username" placeholder="Enter your username" class="mt-1 block w-full px-3 py-2 rounded-md border-gray-300 border shadow-sm focus:outline-none focus:border-blue-500 focus:ring-blue-500 focus:ring-1">
                </div>
                <div class="mb-4">
                    <label for="id_password" class="block text-sm font-medium text-gray-700">Password</label>
                    <div class="relative">
                        <input type="password" id="id_password" name="password" placeholder="Enter your password" class="mt-1 w-full px-3 py-2 rounded-md border border-gray-300 shadow-sm focus:outline-none focus:border-blue-500 focus:ring-blue-500 focus:ring-1">
                        <button type="button" id="togglePassword" class="absolute inset-y-0 right-0 px-3 py-2 bg-gray-200 text-gray-600 rounded-r-md hover:bg-gray-300">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-5 w-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.536 8.464a9.969 9.969 0 0 0-3.033-3.033M13 9a9.969 9.969 0 0 1 3.034 3.033l-1.01 1.01M13 10a3 3 0 1 0-3-3M13 12a3 3 0 1 0 3-3" />
                            </svg>
                        </button>
                    </div>
                </div>
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 w-full">Login</button>
            </form>
            <a href="{% url 'users:sign_up' %}" class="block mt-4 text-sm text-center text-gray-600 hover:underline">Sign Up</a>
        </div>
    </div>
    <script>
        const togglePassword = document.querySelector('#togglePassword')
        const password = document.querySelector('#id_password')
        togglePassword.addEventListener('click', function(){
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password'
            password.setAttribute('type', type)
            this.classList.toggle('text-gray-600')
            this.classList.toggle('text-gray-800')
        })
    </script>
</body>
</html>