{% extends 'main/home.html' %}

{% block content %}

<div class="container mx-auto px-4 py-8">
    <div class="flex justify-between items-center mb-8">
        <a href="{% url 'main:home' %}" class="inline-block px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600">Home</a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="text-red-500 hover:underline">Logout</button>
        </form>
    </div>
    {% if profile %}
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <!-- User Info Card -->
        <div id="user-info-card" class="card bg-white rounded-lg shadow-md p-6 transition-transform ease-out duration-1000 transform translate-y-4">
            <h2 class="text-lg font-semibold mb-4">User Info</h2>
            <p><span class="font-semibold">Username:</span> {{ request.user.username }}</p>
            <p><span class="font-semibold">Email:</span> {{ request.user.email }}</p>
            <button id="edit-user-info-btn" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded mt-4 hover:bg-blue-600">Edit</button>
        </div>
    
        <!-- Medical Info Card -->
        <div id="med-info-card" class="card bg-white rounded-lg shadow-md p-6 transition-transform ease-out duration-1500 transform translate-y-4">
            <h2 class="text-lg font-semibold mb-4">Medical Info</h2>
            <p><span class="font-semibold">Age:</span> {{ profile.age }}</p>
            <p><span class="font-semibold">Sex:</span> {{ profile.sex }}</p>
            <p><span class="font-semibold">Height:</span> {{ profile.height }} cm</p>
            <p><span class="font-semibold">Weight:</span> {{ profile.weight }} kg</p>
            <p><span class="font-semibold">BMI:</span> {{ profile.bmi }}</p>
            <button id="edit-med-info-btn" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded mt-4 hover:bg-blue-600">Edit</button>
        </div>
    
        <!-- Medical History Card -->
        <div id="med-hist-card" class="card bg-white rounded-lg shadow-md p-6 transition-transform ease-out duration-2000 transform translate-y-4">
            <h2 class="text-lg font-semibold mb-4">Medical History</h2>
            <p><span class="font-semibold">Vaccination History:</span> {{ profile.vaccination_history }}</p>
            <p><span class="font-semibold">Previous Medications:</span> {{ profile.previous_medications }}</p>
            <p><span class="font-semibold">Procedures:</span> {{ profile.procedures }}</p>
            <p><span class="font-semibold">Hospitalizations:</span> {{ profile.hospitalizations }}</p>
            <p><span class="font-semibold">Current Symptoms:</span> {{ profile.current_symptoms }}</p>
            <button id="edit-med-hist-btn" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded mt-4 hover:bg-blue-600">Edit</button>
        </div>
    </div>
    {% else %}
    <p class="text-red-500 mt-4">No profile found</p>
    {% endif %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const cards = document.querySelectorAll('.card');
        cards.forEach((card, index) => {
            card.style.transitionDelay = `${index * 200}ms`;
            card.classList.remove('translate-y-4');
        });
    });

    document.addEventListener("DOMContentLoaded", function(){
        document.getElementById('edit-user-info-btn').addEventListener('click', function(){
            fetch('/users/edit_user_info/')
            .then(response => response.text())
            .then(data => {
                document.getElementById('user-info-card').innerHTML = data;
            })
            .catch(error => console.error('Error:', error));
        });
    });

    document.addEventListener("DOMContentLoaded", function(){
        document.getElementById('edit-med-info-btn').addEventListener('click', function(){
            fetch('/users/edit_med_info/')
            .then(response => response.text())
            .then(data => {
                document.getElementById('med-info-card').innerHTML = data;
            })
            .catch(error => console.error('Error:', error));
        });
    });

    document.addEventListener("DOMContentLoaded", function(){
        document.getElementById('edit-med-hist-btn').addEventListener('click', function(){
            fetch('/users/edit_med_hist/')
            .then(response => response.text())
            .then(data => {
                document.getElementById('med-hist-card').innerHTML = data;
            })
            .catch(error => console.error('Error:', error))
        })
    })
</script>

{% endblock %}
