{% extends 'main/home.html' %}

{% load static %}

{% block content %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <!-- Include Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .card {
            transition: all 0.3s ease-in-out;
        }
        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }
        .dropdown-icon{
            cursor: pointer;
            font-size: 1.2rem;
            color: #4285f4;
        }
        .dropdown-icon.rotate{
            transform: rotate(180deg);
        }
        .navbar{
            background-color: rgb(44, 6, 39);
            
            background-size: cover;
            background-position: center;
            background-blend-mode: overlay;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            color: white;
            border-radius: 8px;
        }
        .min-h-full{
            min-height: 100%;
        }
    </style>
</head>
<body class="bg-gray-100 font-sans">
    <div class="container mx-auto px-4 py-8">
        <div class="flex justify-between items-center mb-8">
            <a href="{% url 'main:home' %}" class="inline-block px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600">Home</a>
            <form action="{% url 'users:logout_user' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="text-red-500 hover:underline">Logout</button>
            </form>
        </div>
        
        {% if profile %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <!-- Demographic Information Card -->
            <div class="card bg-white rounded-lg shadow-md min-h-full">
                <div class="navbar bg-gradient-to-r from-blue-500 to-purple-600 flex justify-between items-center px-6 py-4 text-white">
                    <h2 class="text-xl font-semibold">Demographic Information</h2>
                    <span id="demographic-info-toggle" class="dropdown-icon">&#9660;</span>
                </div>
                <div id="demographic-info-content" class="p-6 hidden">
                    <p><span class="font-semibold text-gray-600">Age:</span> {{ profile.age }}</p>
                    <p><span class="font-semibold text-gray-600">Gender:</span> {{ profile.sex }}</p>
                    <p><span class="font-semibold text-gray-600">Ethnicity/Race:</span> {{ profile.ethnicity_race }}</p>
                    <p><span class="font-semibold text-gray-600">Socioeconomic Status:</span> {{ profile.socioeconomic_status }}</p>
                    <div id="demographic-info-form" class="hidden"></div>
                    <button id="edit-demographic-info-btn" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded mt-4 hover:bg-blue-600">Edit</button>
                </div>
            </div>

            <div class="card bg-white rounded-lg shadow-md min-h-full">
                <div class="navbar bg-gradient-to-r from-blue-500 to-purple-600 flex justify-between items-center px-6 py-4 text-white">
                    <h2 class="text-xl font-semibold text-white">Medical History</h2>
                    <span id="medical-history-toggle" class="dropdown-icon">&#9660;</span>
                </div>
                <div id="medical-history-content" class="p-6 hidden">
                    <p><span class="font-semibold text-gray-600">Family History of Chronic Diseases:</span> {{ profile.family_history_chronic_diseases }}</p>
                    <p><span class="font-semibold text-gray-600">Current Diseases:</span> {{ profile.diagnosed_chronic_conditions }}</p>
                    <p><span class="font-semibold text-gray-600">Current Medications:</span> {{ profile.medications }}</p>
                    <p><span class="font-semibold text-gray-600">Recent/Past Surgeries:</span> {{ profile.surgeries }}</p>
                    <div id="medical-history-form" class="hidden"></div>
                    <button id="edit-medical-history-btn" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded mt-4 hover:bg-blue-600">Edit</button>
                </div>
            </div>
        
            <!-- Lifestyle Factors Card -->
            <div class="card bg-white rounded-lg shadow-md min-h-full">
                <div class="navbar bg-gradient-to-r from-blue-500 to-purple-600 flex justify-between items-center px-6 py-4 text-white">
                    <h2 class="text-xl font-semibold text-white">Lifestyle Factors</h2>
                    <span id="lifestyle-factors-toggle" class="dropdown-icon">&#9660;</span>
                </div>
                <div id="lifestyle-factors-content" class="p-6 hidden">
                    <p><span class="font-semibold text-gray-600">Daily Diet:</span> {{ profile.typical_daily_diet }}</p>
                    <p><span class="font-semibold text-gray-600">Physical Activity:</span> {{ profile.physical_activity_frequency }}</p>
                    <p><span class="font-semibold text-gray-600">Tobacco Use:</span> {{ profile.smoking_habits }}</p>
                    <p><span class="font-semibold text-gray-600">Alcohol Consumption:</span> {{ profile.alcohol_consumption }}</p>
                    <p><span class="font-semibold text-gray-600">Recreational Drug Use:</span> {{ profile.recreational_drug_use }}</p>
                    <p><span class="font-semibold text-gray-600">Stress Management:</span> {{ profile.stress_management_methods }}</p>
                    <div id="lifestyle-factors-form" class="hidden"></div>
                    <button id="edit-lifestyle-factors-btn" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded mt-4 hover:bg-blue-600">Edit</button>
                </div>
            </div>
        
            <!-- Biometric Data Card -->
            <div class="card-1 bg-white rounded-lg shadow-md min-h-full">
                <div class="navbar bg-gradient-to-r from-blue-500 to-purple-600 flex justify-between items-center px-6 py-4 text-white">
                    <h2 class="text-xl font-semibold text-white">Biometric Data</h2>
                    <span id="biometric-data-toggle" class="dropdown-icon">&#9660;</span>
                </div>
                <div id="biometric-data-content" class="p-6 hidden">
                    <p><span class="font-semibold text-gray-600">Height:</span> {{ profile.height }} cm</p>
                    <p><span class="font-semibold text-gray-600">Weight:</span> {{ profile.weight }} kg</p>
                    <p><span class="font-semibold text-gray-600">Blood Pressure:</span> {{ profile.blood_pressure }}</p>
                    <p><span class="font-semibold text-gray-600">Cholesterol Levels:</span> {{ profile.cholesterol_levels }}</p>
                    <p><span class="font-semibold text-gray-600">Blood Glucose Levels:</span> {{ profile.blood_glucose_levels }}</p>
                    <div id="biometric-data-form" class="hidden"></div>
                    <button id="edit-biometric-data-btn" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded mt-4 hover:bg-blue-600">Edit</button>
                </div>
            </div>
        
            <!-- Environmental Exposures Card -->
            <div class="card bg-white rounded-lg shadow-md min-h-full">
                <div class="navbar bg-gradient-to-r from-blue-500 to-purple-600 flex justify-between items-center px-6 py-4 text-white">
                    <h2 class="text-xl font-semibold text-white">Environmental Exposures</h2>
                    <span id="environmental-exposures-toggle" class="dropdown-icon">&#9660;</span>
                </div>
                <div id="environmental-exposures-content" class="p-6 hidden">
                    <p><span class="font-semibold text-gray-600">High Levels of Air Pollution:</span> {{ profile.air_pollution_exposure }}</p>
                    <p><span class="font-semibold text-gray-600">Occupational Hazards:</span> {{ profile.occupational_hazards }}</p>
                    <p><span class="font-semibold text-gray-600">Access to Clean Drinking Water:</span> {{ profile.clean_drinking_water_access }}</p>
                    <div id="environmental-exposures-form" class="hidden"></div>
                    <button id="edit-environmental-exposures-btn" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded mt-4 hover:bg-blue-600">Edit</button>
                </div>
            </div>
        
            <!-- Genetic Factors Card -->
            <div class="card bg-white rounded-lg shadow-md min-h-full">
                <div class="navbar bg-gradient-to-r from-blue-500 to-purple-600 flex justify-between items-center px-6 py-4 text-white">
                    <h2 class="text-xl font-semibold text-white">Genetic Factors</h2>
                    <span id="genetic-factors-toggle" class="dropdown-icon">&#9660;</span>
                </div>
                <div id="genetic-factors-content" class="p-6 hidden">
                    <p><span class="font-semibold text-gray-600">Genetic Conditions in Family History:</span> {{ profile.genetic_conditions }}</p>
                    <p><span class="font-semibold text-gray-600">Genetic Testing Results:</span> {{ profile.genetic_testing_results }}</p>
                    <div id="genetic-factors-form" class="hidden"></div>
                    <button id="edit-genetic-factors-btn" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded mt-4 hover:bg-blue-600">Edit</button>
                </div>
            </div>
        
        
            <!-- Behavioral Factors Card -->
            <div class="card bg-white rounded-lg shadow-md min-h-full">
                <div class="navbar bg-gradient-to-r from-blue-500 to-purple-600 flex justify-between items-center px-6 py-4 text-white">
                    <h2 class="text-xl font-semibold text-white">Behavioral Factors</h2>
                    <span id="behavioral-factors-toggle" class="dropdown-icon">&#9660;</span>
                </div>
                <div id="behavioral-factors-content" class="p-6 hidden">
                    <p><span class="font-semibold text-gray-600">Adherence to Medical Recommendations:</span> {{ profile.medical_compliance }}</p>
                    <p><span class="font-semibold text-gray-600">Health Literacy Level:</span> {{ profile.health_literacy }}</p>
                    <div id="behavioral-factors-form" class="hidden"></div>
                    <button id="edit-behavioral-factors-btn" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded mt-4 hover:bg-blue-600">Edit</button>
                </div>
            </div>
        
            <!-- Psychosocial Factors Card -->
            <div class="card bg-white rounded-lg shadow-md min-h-full">
                <div class="navbar bg-gradient-to-r from-blue-500 to-purple-600 flex justify-between items-center px-6 py-4 text-white">
                    <h2 class="text-xl font-semibold text-white">Psychosocial Factors</h2>
                    <span id="psychosocial-factors-toggle" class="dropdown-icon">&#9660;</span>
                </div>
                <div id="psychosocial-factors-content" class="p-6 hidden">
                    <p><span class="font-semibold text-gray-600">Diagnosed Mental Health Conditions:</span> {{ profile.mental_health_diagnosis }}</p>
                    <p><span class="font-semibold text-gray-600">Social Support Network:</span> {{ profile.social_support_network }}</p>
                    <div id="psychosocial-factors-form" class="hidden"></div>
                    <button id="edit-psychosocial-factors-btn" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded mt-4 hover:bg-blue-600">Edit</button>
                </div>
            </div>
        
            <!-- Occupational Factors Card -->
            <div class="card bg-white rounded-lg shadow-md min-h-full">
                <div class="navbar bg-gradient-to-r from-blue-500 to-purple-600 flex justify-between items-center px-6 py-4 text-white">
                    <h2 class="text-xl font-semibold text-white">Occupational Factors</h2>
                    <span id="occupational-factors-toggle" class="dropdown-icon">&#9660;</span>
                </div>
                <div id="occupational-factors-content" class="p-6 hidden">
                    <p><span class="font-semibold text-gray-600">Type of Work:</span> {{ profile.occupation }}</p>
                    <p><span class="font-semibold text-gray-600">Stress Levels at Work:</span> {{ profile.work_stress }}</p>
                    <div id="occupational-factors-form" class="hidden"></div>
                    <button id="edit-occupational-factors-btn" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded mt-4 hover:bg-blue-600">Edit</button>
                </div>
            </div>
        
            <!-- Screening Tests Card -->
            <div class="card bg-white rounded-lg shadow-md min-h-full">
                <div class="navbar bg-gradient-to-r from-blue-500 to-purple-600 flex justify-between items-center px-6 py-4 text-white">
                    <h2 class="text-xl font-semibold text-white">Screening Tests</h2>
                    <span id="screening-tests-toggle" class="dropdown-icon">&#9660;</span>
                </div>
                <div id="screening-tests-content" class="p-6 hidden">
                    <p><span class="font-semibold text-gray-600">Last Medical Check-up:</span> {{ profile.last_checkup }}</p>
                    <p><span class="font-semibold text-gray-600">Undergone Screening Tests:</span> {{ profile.cancer_screening }}</p>
                    <div id="screening-tests-form" class="hidden"></div>
                    <button id="edit-screening-tests-btn" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded mt-4 hover:bg-blue-600">Edit</button>
                </div>
            </div>
        
            <!-- Geographic Location Card -->
            <div class="card bg-white rounded-lg shadow-md min-h-full">
                <div class="navbar bg-gradient-to-r from-blue-500 to-purple-600 flex justify-between items-center px-6 py-4 text-white">
                    <h2 class="text-xl font-semibold text-white">Geographic Location</h2>
                    <span id="geographic-location-toggle" class="dropdown-icon">&#9660;</span>
                </div>
                <div id="geographic-location-content" class="p-6 hidden">
                    <p><span class="font-semibold text-gray-600">Residence:</span> {{ profile.residencial_area }}</p>
                    <p><span class="font-semibold text-gray-600">Access to Healthcare Facilities:</span> {{ profile.access_to_healthcare }}</p>
                    <div id="geographic-location-form" class="hidden"></div>
                    <button id="edit-geographic-location-btn" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded mt-4 hover:bg-blue-600">Edit</button>
                </div>
            </div>
        
            <!-- Additional Comments Card -->
            <div class="card bg-white rounded-lg shadow-md min-h-full">
                <div class="navbar bg-gradient-to-r from-blue-500 to-purple-600 flex justify-between items-center px-6 py-4 text-white">
                    <h2 class="text-xl font-semibold text-white">Additional Comments</h2>
                    <span id="additional-comments-toggle" class="dropdown-icon">&#9660;</span>
                </div>
                <div id="additional-comments-content" class="p-6 hidden">
                    <p><span class="font-semibold text-gray-600">Other Relevant Information:</span> {{ profile.additional_comments }}</p>
                    <div id="additional-comments-form" class="hidden"></div>
                    <button id="edit-additional-comments-btn" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded mt-4 hover:bg-blue-600">Edit</button>
                </div>
            </div>
        </div>
        {% else %}
        <p class="text-red-500 mt-4">No profile found</p>
        {% endif %}
    </div>
</body>
</html>

<script>
    // Demographic Information Toggle
    document.getElementById('demographic-info-toggle').addEventListener('click', function() {
        const content = document.getElementById('demographic-info-content');
        content.classList.toggle('hidden');
        this.classList.toggle('rotate');
    });

    // Medical History Toggle
    document.getElementById('medical-history-toggle').addEventListener('click', function() {
        const content = document.getElementById('medical-history-content');
        content.classList.toggle('hidden');
        this.classList.toggle('rotate');
    });

    // Lifestyle Factors Toggle
    document.getElementById('lifestyle-factors-toggle').addEventListener('click', function() {
        const content = document.getElementById('lifestyle-factors-content');
        content.classList.toggle('hidden');
        this.classList.toggle('rotate');
    });

    // Biometric Data Toggle
    document.getElementById('biometric-data-toggle').addEventListener('click', function() {
        const content = document.getElementById('biometric-data-content');
        content.classList.toggle('hidden');
        this.classList.toggle('rotate');
    });

    // Environmental Exposures Toggle
    document.getElementById('environmental-exposures-toggle').addEventListener('click', function() {
        const content = document.getElementById('environmental-exposures-content');
        content.classList.toggle('hidden');
        this.classList.toggle('rotate');
    });

    // Genetic Factors Toggle
    document.getElementById('genetic-factors-toggle').addEventListener('click', function() {
        const content = document.getElementById('genetic-factors-content');
        content.classList.toggle('hidden');
        this.classList.toggle('rotate');
    });

    // Behavioral Factors Toggle
    document.getElementById('behavioral-factors-toggle').addEventListener('click', function() {
        const content = document.getElementById('behavioral-factors-content');
        content.classList.toggle('hidden');
        this.classList.toggle('rotate');
    });

    // Psychosocial Factors Toggle
    document.getElementById('psychosocial-factors-toggle').addEventListener('click', function() {
        const content = document.getElementById('psychosocial-factors-content');
        content.classList.toggle('hidden');
        this.classList.toggle('rotate');
    });

    // Occupational Factors Toggle
    document.getElementById('occupational-factors-toggle').addEventListener('click', function() {
        const content = document.getElementById('occupational-factors-content');
        content.classList.toggle('hidden');
        this.classList.toggle('rotate');
    });

    // Screening Tests Toggle
    document.getElementById('screening-tests-toggle').addEventListener('click', function() {
        const content = document.getElementById('screening-tests-content');
        content.classList.toggle('hidden');
        this.classList.toggle('rotate');
    });

    // Geographic Location Toggle
    document.getElementById('geographic-location-toggle').addEventListener('click', function() {
        const content = document.getElementById('geographic-location-content');
        content.classList.toggle('hidden');
        this.classList.toggle('rotate');
    });

    // Additional Comments Toggle
    document.getElementById('additional-comments-toggle').addEventListener('click', function() {
        const content = document.getElementById('additional-comments-content');
        content.classList.toggle('hidden');
        this.classList.toggle('rotate');
    });


    document.addEventListener("DOMContentLoaded", function() {
        const cards = document.querySelectorAll('.card');
        cards.forEach((card, index) => {
            card.style.transitionDelay = `${index * 100}ms`;
            card.classList.remove('translate-y-4');
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        const editDemographicInfoBtn = document.getElementById('edit-demographic-info-btn');
        const demographicInfoForm = document.getElementById('demographic-info-form');

        editDemographicInfoBtn.addEventListener('click', function() {
            fetch('/users/edit_demographic_info_form/')
                .then(response => response.text())
                .then(formHTML => {
                    demographicInfoForm.innerHTML = formHTML;
                    demographicInfoForm.classList.remove('hidden');

                    const form = demographicInfoForm.querySelector('form');
                    form.addEventListener('submit', function(event) {
                        event.preventDefault();
                        const formData = new FormData(form);

                        fetch('/users/edit_demographic_info/', {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': getCookie('csrftoken')
                            },
                            body: formData
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                updateDemographicInfoCard(data);
                                closeForm();
                            } else {
                                alert(data.message);
                            }
                        })
                        .catch(error => console.error('Error:', error));
                    });
                })
                .catch(error => console.error('Error:', error));
        });

        // Function to close the form
        function closeForm() {
            demographicInfoForm.innerHTML = '';
        }

        // Function to update the demographic information card
        function updateDemographicInfoCard(data) {
            const demographicInfoCard = document.querySelector('.card');
            if (demographicInfoCard) {
                demographicInfoCard.querySelector('p:nth-child(2)').textContent = `Age: ${data.age}`;
                demographicInfoCard.querySelector('p:nth-child(3)').textContent = `Gender: ${data.sex}`;
                demographicInfoCard.querySelector('p:nth-child(4)').textContent = `Ethinicity/Race: ${data.ethnicity_race}`;
                demographicInfoCard.querySelector('p:nth-child(5)').textContent = `Socioeconomic Status: ${data.socioeconomic_status}`;
            } else {
                console.error('demographicInfoCard element not found');
            }
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        const editMedicalHistoryBtn = document.getElementById('edit-medical-history-btn');
        const medicalHistoryForm = document.getElementById('medical-history-form');

        editMedicalHistoryBtn.addEventListener('click', function() {
            fetch('/users/edit_medical_hist_form/')
            .then(response => response.text())
            .then(formHTML => {
                medicalHistoryForm.innerHTML = formHTML;
                medicalHistoryForm.classList.remove('hidden');

                const form = medicalHistoryForm.querySelector('form');
                form.addEventListener('submit', function(event) {
                    event.preventDefault();
                    const formData = new FormData(form);

                    fetch('/users/edit_med_hist/', {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': getTheCookie('csrftoken')
                        },
                        body: formData
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            updateMedicalHistCard(data);
                            closeForm();
                        } else {
                            alert(data.message);
                        }
                    })
                    .catch(error => console.error('Error:', error));
                });
            })
            .catch(error => console.error('Error:', error));
        });

        function closeForm() {
            medicalHistoryForm.innerHTML = '';
        }

        function updateMedicalHistCard(data) {
            const medicalHistoryCard = document.querySelector('#card-1');

            if (medicalHistoryCard) {
                medicalHistoryCard.querySelector('p:nth-child(2)').textContent = `Family History of Chronic Diseases: ${data.family_history_chronic_diseases}`;
                medicalHistoryCard.querySelector('p:nth-child(3)').textContent = `Diagnosed Chronic Conditions: ${data.diagnosed_chronic_conditions}`;
                medicalHistoryCard.querySelector('p:nth-child(4)').textContent = `Medications: ${data.medications}`;
                medicalHistoryCard.querySelector('p:nth-child(5)').textContent = `Surgeries: ${data.surgeries}`;
            } else {
                console.error('medicalHistotyCard: Element not found.')
            }
        }
    });

    document.addEventListener('DOMContentLoaded', function() {
        const editLifestyleInfoBtn = document.getElementById('edit-lifestyle-info-btn');
        const lifestyleInfoForm = document.getElementById('lifestyle-info-form');

        editLifestyleInfoBtn.addEventListener('click', function() {
            fetch('/users/edit_lifestyle_info_form/')
            .then(response => response.text())
            .then(formHTML => {
                lifestyleInfoForm.innerHTML = formHTML;
                lifestyleInfoForm.classList.remove('hidden');

                const form = lifestyleInfoForm.querySelector('form');
                form.addEventListener('submit', function(event) {
                    event.preventDefault();
                    const formData = new FormData(form);

                    fetch('/users/edit_lifestyle_info/', {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': getTheCookie('csrftoken')
                        },
                        body: formData
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            updateLifestyleInfoCard(data);
                            closeForm();
                        } else {
                            alert(data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                });
            })
            .catch(error => console.error('Error:', error));
        });

        function closeForm() {
            lifestyleInfoForm.innerHTML = '';
        }

        function updateLifestyleInfoCard(data) {
            const lifestyleInfoCard = document.querySelector('#card-2');

            if (lifestyleInfoCard) {
                lifestyleInfoCard.querySelector('p:nth-child(2)').textContent = `Daily Diet: ${data.typical_daily_diet}`;
                lifestyleInfoCard.querySelector('p:nth-child(3)').textContent = `Physical Activity: ${data.physical_activity_frequency}`;
                lifestyleInfoCard.querySelector('p:nth-child(4)').textContent = `Tobbaco Use: ${data.smoking_habits}`;
                lifestyleInfoCard.querySelector('p:nth-child(5)').textContent = `Alcohol Consumption: ${data.alcohol_consumption}`;
                lifestyleInfoCard.querySelector('p:nth-child(6)').textContent = `Recreational Drug Use: ${data.recreational_drug_use}`;
                lifestyleInfoCard.querySelector('p:nth-child(7)').textContent = `Stress Management: ${data.stress_management_methods}`;
            } else {
                console.error('lifeStyleInfoCard: Element not found.');
            }
        }
    })

    document.addEventListener('DOMContentLoaded', function() {
        const editBiometricDataBtn = document.getElementById('edit-biometric-data-btn');
        const biometricDataForm = document.getElementById('biometric-data-form');

        editBiometricDataBtn.addEventListener('click', function() {
            fetch('/users/edit_biometric_data_form/')
            .then(response => response.text())
            .then(formHTML => {
                biometricDataForm.innerHTML = formHTML;
                biometricDataForm.classList.remove('hidden');

                const form = biometricDataForm.querySelector('form');
                form.addEventListener('submit', function(event) {
                    event.preventDefault();
                    const formData = new FormData(form);

                    fetch('/users/edit_biometric_data/', {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken')
                        },
                        body: formData
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            updateBiometricDataCard(data);
                            closeForm();
                        } else {
                            alert(data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error)
                    });
                });
            })
            .catch(error => console.error('Error:', error));
        });

        function closeForm() {
            biometricDataForm.innerHTML = '';
        }

        function updateBiometricDataCard(data) {
            const biometricDataCard = document.querySelector('#card-3');

            if (biometricDataCard) {
                biometricDataCard.querySelector('p:nth-child(2)').textContent = `Height: ${data.height}`;
                biometricDataCard.querySelector('p:nth-child(3)').textContent = `Weight: ${data.weight}`;
                biometricDataCard.querySelector('p:nth-child(4)').textContent = `Blood Pressure: ${data.blood_pressure}`;
                biometricDataCard.querySelector('p:nth-child(5)').textContent = `Cholesterol: ${data.cholesterol_levels} `;
                biometricDataCard.querySelector('p:nth-child(6)').textContent = `Blood Glucose Levels: ${data.blood_glucose_levels}`;
            } else {
                console.error('BiometricDataCard: Elements Not found.');
            }
        }
    })

    document.addEventListener('DOMContentLoaded', function() {
        const editEnvFactorsBtn = document.getElementById('edit-env-factors-btn');
        const envFactorsForm = document.getElementById('env-factors-form');

        editEnvFactorsBtn.addEventListener('click', function() {
            fetch('/users/edit_env_factors_form/')
            .then(response => response.text())
            .then(formHTML => {
                envFactorsForm.innerHTML = formHTML;
                envFactorsForm.classList.remove('hidden');

                const form = envFactorsForm.querySelector('form');
                form.addEventListener('submit', function(event) {
                    event.preventDefault();
                    const formData = new FormData(form);

                    fetch('/users/edit_env_factors/', {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken')
                        },
                        body: formData
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            updateEnvFactorsCard(data);
                            closeForm();
                        } else {
                            alert(data.message);
                        }
                    })
                    .catch(error => console.error('Error:', error));
                });
            })
            .catch(error => console.error('Error:', error));
        });

        function closeForm(){
            envFactorsForm.innerHTML = '';
        }

        function updateEnvFactorsCard(data) {
            const envFactorsCard = document.querySelector('#card-4');

            if (envFactorsCard) {
                envFactorsCard.querySelector('p:nth-child(2)').textContent = `Air Pollution Exposure: ${data.air_pollution_exposure}`;
                envFactorsCard.querySelector('p:nth-child(3)').textContent = `Occupational Hazards: ${data.occupational_hazards}`;
                envFactorsCard.querySelector('p:nth-child(4)').textContent = `Access To Clean Drinking Water: ${data.clean_drinking_water_access}`;
            } else {
                console.error('EnvFactorsCards:  Element not found.')
            }
        }
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function getTheCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

{% endblock %}
